body{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size:2rem!important;
}
.row{
    margin-bottom: 0px!important;
}
.error.text{
    color:red
}
.input-field select.invalid{
    outline: solid;
    outline-color: red;
}
    
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
[type="checkbox"]+span:not(.lever).error:before{
    border: 2px solid red;
}

iframe {
    display: none;
} 